.background {
  background-image: url("../../../assets/img/back1-update-2.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px;
  height: 90vh;
}
.datepicker {
  margin-left: 30px !important;
  margin-top: 30px !important;
  /* border: 2px solid white !important; */
  border-radius: 10px !important;
}
.datepicker input {
  width: 100px;
  text-align: center;
  color: white !important;
  background-color: #1790a0 !important;
  font-weight: 500;
  cursor: pointer;
  border: 1px solid #1790a0;
  border-radius: 5px;
}

.textfield textarea {
  color: white !important;
  caret-color: white;
  margin-left: 8px;
}

.nextBtn {
  color: white !important;
  background-color: #1790a0 !important;
}
