.background {
  /* background-image: url("../../../assets/img/back3-2.jpg"); */
  /* background-color: #5e5a5a; */
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px;
  height: 90vh;
}
.datepicker {
  margin-right: 40px !important;
  /* border: 2px solid white !important; */
  border-radius: 10px !important;
}
.datepicker input {
  width: 100px;
  text-align: center;
  color: white !important;
  background-color: #1790a0 !important;
  font-weight: 500;
  cursor: pointer;
  border: 1px solid #1790a0;
  border-radius: 5px;
}

.textfield textarea {
  color: white !important;
  caret-color: white;
  margin-left: 8px;
}

.nextBtn {
  color: white !important;
  background-color: #1790a0 !important;
}

.finishBtn {
  color: white !important;
  background-color: #d86519 !important;
}

.prevBtn {
  color: white !important;
  background-color: #1790a0 !important;
}

.formLabel {
  color: white;
}

.checkBox {
  color: rgb(253, 165, 0) !important;
}

.submitBtn {
  color: white !important;
  background-color: #b43499 !important;
}

/* Speech Bubble */
blockquote {
  margin: 1em 0;
}

blockquote p {
  margin: 0;
  font-size: 2em;
}

.follow {
  clear: both;
  margin-top: 2em;
  font-size: 1.125em;
}

.follow span {
  font-weight: bold;
}

@-webkit-keyframes swing {
  15% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  30% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  50% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  65% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }
  80% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes swing {
  15% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  30% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  50% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  65% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }
  80% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
.person-animation {
  /* -webkit-animation: swing 1s ease;
  animation: swing 1s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1; */
  margin: 0px;
  color: bisque;
}

.table-contents-icon {
  cursor: pointer;
}

.table-contents-icon:hover {
  color: white;
}

.uploadBtn {
  color: white !important;
  background-color: #1790a0 !important;
}

.title-day {
  margin-top: 16px !important;
  color: bisque;
  font-weight: 500;
  margin-right: 20px;
  text-align: center;
}

.test {
  max-width: 10px !important;
}

.Onedrive-download-icon {
  cursor: pointer;
  color: white !important;
  border-color: white !important;
}

.Onedrive-download-icon:hover {
  color: rgb(124, 201, 236) !important;
  border-color: white !important;
}
