.background {
  /* background-image: url("../../assets/img/back3-2.jpg"); */
  background-color: rgb(73, 70, 70);
  /* background-color: rgb(73, 70, 70); */
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px;
  height: 90vh;
}
