#time__mainDiv {
  width: 1387px;
  margin-left: 10px;
}

.time__header {
  display: flex;
  justify-content: space-between;
  margin-top: -43px !important;
}
.time__title {
  margin-right: 20px;
  font-family: "Roboto";
  color: darkblue;
  margin-bottom: 0;
}

.time__header__left {
  align-items: center;
  align-content: center;
  flex-grow: 1;
  display: flex;
}

.time__header__left__project-id {
  font-family: "Roboto";
  margin-bottom: 15px !important;
  margin-right: 10px;
  color: black;
}

.time__header__left__project-id__value {
  text-decoration: underline;
}

.time__header__left__project-group {
  font-family: "Roboto";
  color: #50474c;
  margin-bottom: 20px !important;
  white-space: nowrap;
}

.time__header__left__project-name {
  font-family: "Roboto";
  color: #50474c;
  margin-bottom: 20px !important;
  margin-left: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.time__header__left__project-id__value:hover {
  color: #a79da3;
  cursor: pointer;
}

.time__header__right {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  align-content: center;
  flex-grow: 1;
  font-family: "Roboto";
}

.time__header__right__add-btn {
  margin-right: 20px !important;
}

.time__header__right__add-btn-before-sunday {
  margin-right: 20px !important;
  visibility: hidden;
}

.time__header__right__save-btn-before-sunday {
  visibility: hidden;
}

.time__header__right__checkbox {
  flex-shrink: 0;
  font-family: "Roboto";
  color: rgb(105, 98, 98);
}

.time__header__right__checkbox-before-sunday {
  flex-shrink: 0;
  font-family: "Roboto";
  visibility: hidden;
}

.time__header__right__checkbox:hover {
  background-color: rgba(233, 225, 225, 0.562);
  border-radius: 50%;
}

.time__header__right__label-date-picker {
  margin-bottom: 17px;
  font-family: "Roboto";
  color: #534f51;
}
.time__header__right__date-picker {
  width: 120px;
  margin-right: 20px !important;
  margin-bottom: 17px !important;
}

.time__header__right__date-picker input {
  text-align: center;
  font-family: "Roboto";
  padding-bottom: 4px;
}

.time__table {
  overflow: auto;
  box-shadow: 1px 1px 2px -1px rgba(0, 0, 0, 0.2),
    1px 2px 3px 3px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12) !important;
}

/* .table table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.table td,
.table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table tr {
  background-color: #ffffff;
}

.table tr:hover {
  background-color: #ddd;
}

.table thead td {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4caf50;
  color: white;
} */

.time__table .time__table__labor-hours-input {
  text-align: right;
}

.time__table__ampm-dropdown {
  margin-left: 5% !important;
  width: 50px;
  display: inline-block;
  height: 25px;
  color: #74646e;
  border: 1px solid #c8bfc4;
  border-radius: 4px;
  box-shadow: inset 1px 1px 2px #ddd8dc;
  background: #fff;
}

.time__table__position-dropdown {
  display: inline-block;
  height: 25px;
  width: 130px;
  color: #74646e;
  border: 1px solid #c8bfc4;
  border-radius: 4px;
  box-shadow: inset 1px 1px 2px #ddd8dc;
  background: #fff;
}

.time__table__time-wrapper {
  display: flex;
}

.time__table__time-wrapper__target-disabled--disabled {
  opacity: 0.4;
}

.time__table__time-wrapper__hour-input {
  width: 20px;
  text-align: center;
  margin-right: 2%;
  margin-left: 2%;
  display: inline-block;
  height: 20px;
  color: rgb(116, 100, 110);
  border: 1px solid rgb(200, 191, 196);
  border-radius: 4px;
  box-shadow: rgb(221, 216, 220) 1px 1px 2px inset;
  background: rgb(255, 255, 255);
}

.time__table__time-wrapper__hour-input-before-sunday {
  width: 20px;
  text-align: center;
  margin-right: 2%;
  margin-left: 2%;
  display: inline-block;
  height: 20px;
  color: rgb(116, 100, 110);
  border: 1px solid rgb(200, 191, 196);
  border-radius: 4px;
  box-shadow: rgb(221, 216, 220) 1px 1px 2px inset;
  background: rgb(255, 255, 255);
  opacity: 0.7;
}

.time__table__time-wrapper__min-input {
  width: 20px;
  text-align: center;
  margin-right: 2%;
  margin-left: 2%;
  display: inline-block;
  height: 20px;
  color: rgb(116, 100, 110);
  border: 1px solid rgb(200, 191, 196);
  border-radius: 4px;
  box-shadow: rgb(221, 216, 220) 1px 1px 2px inset;
  background: rgb(255, 255, 255);
}

.time__table__time-wrapper__min-input-before-sunday {
  width: 20px;
  text-align: center;
  margin-right: 2%;
  margin-left: 2%;
  display: inline-block;
  height: 20px;
  color: rgb(116, 100, 110);
  border: 1px solid rgb(200, 191, 196);
  border-radius: 4px;
  box-shadow: rgb(221, 216, 220) 1px 1px 2px inset;
  background: rgb(255, 255, 255);
  opacity: 0.7;
}

.time__alert__table__hour-input {
  text-align: center;
}
.time__alert__table__employee-input {
  text-align: center;
}
.time__alert__table__time-wrapper {
  text-align: center;
}
.time__alert__complete {
  text-align: center;
  margin-left: 80px;
}

.time__table__employee-input {
  width: 110px;
  display: inline-block;
  height: 20px;
  color: rgb(116, 100, 110);
  border: 1px solid rgb(200, 191, 196);
  border-radius: 4px;
  box-shadow: rgb(221, 216, 220) 1px 1px 2px inset;
  background: rgb(255, 255, 255);
}

.time__table__employee-input-before-sunday {
  width: 110px;
  display: inline-block;
  height: 20px;
  color: rgb(116, 100, 110);
  border: 1px solid rgb(200, 191, 196);
  border-radius: 4px;
  box-shadow: rgb(221, 216, 220) 1px 1px 2px inset;
  background: rgb(255, 255, 255);
  opacity: 0.7;
}
.time__table__delete-icon {
  cursor: pointer;
}

.time__table__delete-icon:hover {
  color: slateblue;
}

.no-permission {
  animation: cssAnimation 0s 1s forwards;
  visibility: hidden;
  font-family: "Roboto";
}

@keyframes cssAnimation {
  to {
    visibility: visible;
  }
}
